@font-face {
	font-family: 'Flash Cards';
	src: url('../resources/fonts/flash_cards/flash_cards.eot');
	src: url('../resources/fonts/flash_cards/flash_cards.eot?#iefix') format('embedded-opentype'),
			 url('../resources/fonts/flash_cards/flash_cards.svg#flash_cards') format('svg'),
			 url('../resources/fonts/flash_cards/flash_cards.woff') format('woff'),
			 url('../resources/fonts/flash_cards/flash_cards.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}