@import "flash_cards";

$font_size_default: 15px;

$grey_dark:  #222;
$grey_light: #ccc;

body {
  background: $grey_dark;
  color: $grey_light;
  font: $font_size_default sans-serif;
  margin: 0 auto;
  text-align: center;
  width: $card_width;
}

h1 { font-size: $font_size_default * 2; }

a {
  color: #fff;
  &:visited{ color: #fff; }
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

.card:first-child .side_two { font-family: GungSeo, serif; }

@font-face {
    font-family: 'Octicons Regular';
    src: url("https://a248.e.akamai.net/assets.github.com/fonts/octicons/octicons-regular-webfont.eot?639c50d4");
    src: url("https://a248.e.akamai.net/assets.github.com/fonts/octicons/octicons-regular-webfont.eot?639c50d4#iefix") format("embedded-opentype"),
         url("https://a248.e.akamai.net/assets.github.com/fonts/octicons/octicons-regular-webfont.woff?0605b255") format("woff"),
         url("https://a248.e.akamai.net/assets.github.com/fonts/octicons/octicons-regular-webfont.ttf?f82fcba7") format("truetype"),
         url("https://a248.e.akamai.net/assets.github.com/fonts/octicons/octicons-regular-webfont.svg?1f7afa21#newFontRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fork {
  font-size: 30px ;
  position: absolute;
  text-decoration: none;
  top: 15px;
  right: 15px;
}
.fork:before {
  content:"\f220";
  font-family: "Octicons Regular";
}